body {
    margin: 0;
    font-family: sans-serif;
}

:root {
    --boo-head: #4ea0ff;
    --boo-author_light: #2fafe7;
    --boo-thead: #20a9e5;
    --boo-tbody: #b1e5f2;
    --boo-author_grey: #858585;
}

#site_header {
    background-image: url(img/pattern.png);
    background-color: var(--boo-head);
    height: 200px;
    position: relative;
}

#logo {
    width: 25%;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.article {
    margin: 10px;
}

h1 {
    font-size: 50px;
}

.author_grey {
    color: var(--boo-author_grey);
}

#author_light {
    color: var(--boo-author_light);
}

.bg_yellow {
    background-color: yellow;
}

thead {
    background-color: var(--boo-thead);
    color: white;
}

#row_1 {
    background-color: var(--boo-tbody);
}

#row_3 {
    background-color: var(--boo-tbody);
}