body {
    margin: 0;
    font-family: sans-serif;
}

:root {
    --boo-head: #4ea0ff;
    --boo-author_light: #2fafe7;
    --boo-thead: #20a9e5;
    --boo-tbody: #b1e5f2;
    --boo-author_grey: #858585;
}

#site_header {
    background-image: url(img/pattern.png);
    background-color: var(--boo-head);
    height: 200px;
    position: relative;
}

#logo {
    width: 25%;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#site_main {
    margin: 10px;
}

h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.author_grey {
    color: var(--boo-author_grey);
    font-weight: bold;
}

#author_light {
    color: var(--boo-author_light);
    font-weight: bold;
}

#photo {
    margin-top: 20px;
}

.bg_yellow {
    background-color: yellow;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: var(--boo-thead);
    color: white;
}

#row_1 {
    background-color: var(--boo-tbody);
}

#row_3 {
    background-color: var(--boo-tbody);
}

.r50 {
    width: 50%;
}

h3 {
    color: grey;
}


#bonus_img1 {
    width: 312px;
    height: 208px;
    background-image: url(img/monitor.jpg);
    color: white;
    font-size: larger;
}

#bonus_img2 {
    width: 312px;
    height: 208px;
    background-image: url(img/graph.jpg);
    color: white;
    font-size: larger;
}

#site_footer {
    color: var(--boo-author_light);
}

ul {
    padding-left: 20px;
}